<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="/asses/favicon/Logo_Img.svg"
      type="VietHub Airline"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <!-- font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&family=Sora:wght@100..800&display=swap"
      rel="stylesheet"
    />

    <!-- font icon -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />

    <!-- reset css -->
    <link rel="stylesheet" href="/asses/css/reset.css" />
    <!-- style css -->
    <link rel="stylesheet" href="/asses/css/re-password.css" />

    <title>VietHub Airline</title>
  </head>
  <body>
    <!-- header -->
    <header class="header">
      <div class="menu">
        <!-- Logo -->
        <a href="./"
          ><img
            src="/asses/favicon/Logo_Gr.svg"
            alt="Shine smile"
            class="logo header__logo"
        /></a>
        <!-- Navbar  -->
        <nav class="navbar">
          <ul class="navbar__list" id="navbar__list--pc">
            <li class="navbar__item">
              <a href="/templates/index.html" class="navbar__link">Home</a>
            </li>
            <li class="navbar__item">
              <a href="/templates/index_search.html" class="navbar__link navbar"
                >Search</a
              >
            </li>
            <li class="navbar__item">
              <a href="/templates/index_booking.html" class="navbar__link"
                >Booking</a
              >
            </li>
            <li class="navbar__item">
              <a href="/templates/index.html" class="navbar__link">About</a>
            </li>
            <li class="navbar__item">
              <a href="/templates/index.html" class="navbar__link">Contact</a>
            </li>
          </ul>
        </nav>
        <!-- cta action -->
        <div class="header__action">
          <a href="/templates/index_signin.html" class="header__action--login"
            >Log in</a
          >
          <a
            href="/templates/index_signup.html"
            class="btn header__action--signup"
            >Sign up</a
          >
        </div>
      </div>
    </header>
    <section class="container forms">
      <!-- Forgot pass Form -->
      <div class="form Forgot Password">
        <div class="form-content">
          <header>Forgot Password</header>
          <form action="#">
            <div class="field input-field">
              <input
                type="text"
                id="email"
                placeholder="Email address"
                class="input"
                required
              />
            </div>

            <div class="field button-field">
              <button>Reset Password</button>
            </div>
          </form>
        </div>
      </div>
    </section>
    <script src="/asses/js/re-password.js" script>
  </body>
</html>
