<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="/asses/favicon/Logo_Img.svg"
      type="VietHub Airline"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <!-- font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&family=Sora:wght@100..800&display=swap"
      rel="stylesheet"/>

    <!-- font icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    
    <!-- reset css -->
    <link rel="stylesheet" href="/asses/css/reset.css"/>
    <!-- style css -->
    <link rel="stylesheet" href="/asses/css/style_decentralization_admin.css" />
    
    <title>VietHub Airline</title>
  </head>
    <body>

      <!-- header -->
      <header class="header">
          <div class="menu">
            <!-- Logo -->
            <img
                src="/asses/favicon/Logo_Gr.svg"
                alt="Shine smile"
                class="logo header__logo"
            />
            <!-- Navbar  -->
            <nav class="navbar">
              <ul class="navbar__list" id="navbar__list--pc">
                <li class="navbar__item">
                  <a href="/templates/index_report_admin.html" class="navbar__link">Report</a>
                </li>
                <li class="navbar__item">
                  <a href="/templates/index_decentralization_admin.html" class="navbar__link navbar__link--active">Decentralization</a>
                </li>
              </ul>
            </nav>
            <!-- cta action -->
            <div class="header__action">
              <a href="/templates/index_signin.html" class="header__action--login">Log in</a>
              <a href="/templates/index_signup.html" class="btn header__action--signup">Sign up</a>
            </div>
          </div>
      </header>

      <!-- main -->
      <main>

        <section class="decentralization">
          <div class="container">
  
            <h1 class="decentralization_heading">ADMIN MANAGEMENT</h1>
  
            <div class="container_bar">
  
              <div class="search">
                
                <svg class="search_img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="50" height="50"  fill="#00256C" >
                <path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg>
                
                <input class="input" type="text" placeholder="Search user/staff ID ..." />
                
              </div>
  
              <button id="btnSearch" class="btn_bar">Search</button>
      
              <button id="btnAdd" class="btn_bar">Add</button>
              
              <dialog id="dialog_add_role">
                <div class ="wrapper">
                  <form>
                    <div class= "field_add_station"> 

                      <label class="label_station">User/Staff ID:</label>
                      <input required class="input_station" type="text" placeholder="Enter user/staff ID">
                      <label class="label_station">Role:</label>
                      <input required class="input_station" type="number" placeholder="Enter Role Number" >
                      <label class="label_station"> Full Name:</label>
                      <input required class="input_station" type="text" placeholder="Enter Full Name">
                      <label class="label_station"> ID Card:</label>
                      <input required class="input_station" type="text" placeholder="Enter ID Card">
                      <label class="label_station"> Phone Number:</label>
                      <input required class="input_station" type="text" placeholder="Enter Phone Number">
                      <label class="label_station"> Email:</label>
                      <input required class="input_station" type="text" placeholder="Enter email">

                      <button id="confirmAdd" class="btn_station"  >Add</button>
                      <button id="cancelAdd" class="btn_station">Cancel</button>
                  </div>
                </form>
                </div>
              </dialog>
      
              <button id="btnUpdate" class="btn_bar">Update</button>
      
              <dialog id='dialog_update_role'>
                <div class ="wrapper">
                  <form>
                    <div class= "field_add_station"> 

                      <label class="label_station">User/Staff ID:</label>
                      <input required class="input_station" type="text" placeholder="Enter user/staff ID">
                      <label class="label_station">Role:</label>
                      <input required class="input_station" type="number" placeholder="Enter Role Number" >
                      <label class="label_station"> Full Name:</label>
                      <input required class="input_station" type="text" placeholder="Enter Full Name">
                      <label class="label_station"> ID Card:</label>
                      <input required class="input_station" type="text" placeholder="Enter ID Card">
                      <label class="label_station"> Phone Number:</label>
                      <input required class="input_station" type="text" placeholder="Enter Phone Number">
                      <label class="label_station"> Email:</label>
                      <input required class="input_station" type="text" placeholder="Enter email">

                     <button id="confirmUpdate" class="btn_station">Update</button>
                    <button id="cancelUpdate" class="btn_station">Cancel</button>
                  </div>
                </form>
                </div>
              </dialog>
      
              <button id="btnRemove" class="btn_bar">Remove</button>
      
              <dialog id='dialog_remove_role'>
                <div class ="wrapper">
                  <form>
                    <div class= "field_add_station"> 
                      <label class="label_station">User/Staff ID:</label>
                      <input required class="input_station" type="text" placeholder="Enter Plane ID">
                      <button id="confirmRemove" class="btn_station">Remove</button>
                      <button id="cancelRemove" class="btn_station">Cancel</button>
                  </div>
                </form>
                </div>
              </dialog>
      
            </div>
  
            <!-- Tao bang-->
            <table id="table_decentralization" class="table">
              <div class="table_title">
                <tr>
                  <th>ID</th>
                  <th>Role</th>
                  <th>Full Name</th>
                  <th>ID Card</th>
                  <th>Phone Number</th>
                  <th>Email</th>
                </tr>
              </div>
  
              <div class="table_row">
                <tr>
                  <td>1</td>
                  <td>Anh</td>
                  <td>10</td>
                  <td>1</td>
                  <td>Anh</td>
                  <td>10</td>
                </tr>
              </div>
  
              <div class="table_row">
                <tr>
                  <td>2</td>
                  <td>M34</td>
                  <td>10</td>
                  <td>1</td>
                  <td>Anh</td>
                  <td>10</td>
                </tr>
              </div>
  
            </table>
  
          </div>
        </section>

    <!--Phan java script-->
    <script src="/asses/js/admin_decentralization.js"></script>
  </body>
</html>
    