<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="/asses/favicon/Logo_Img.svg"
      type="VietHub Airline"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <!-- font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&family=Sora:wght@100..800&display=swap"
      rel="stylesheet"/>

    <!-- font icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    
    <!-- reset css -->
    <link rel="stylesheet" href="/asses/css/reset.css"/>
    <!-- style css -->
    <link rel="stylesheet" href="/asses/css/style_price_staff.css" />    
    <title>VietHub Airline</title>
  </head>

  <body>

    <!-- header -->
    <header class="header">
        <div class="menu">
          <!-- Logo -->
          <img
              src="/asses/favicon/Logo_Gr.svg"
              alt="Shine smile"
              class="logo header__logo"
          />
          <!-- Navbar  -->
          <nav class="navbar">
            <ul class="navbar__list" id="navbar__list--pc">
              <li class="navbar__item">
                <a href="/templates/index_reservation_staff.html" class="navbar__link">Reservation</a>
              </li>
              <li class="navbar__item">
                <a href="/templates/index_search_staff.html" class="navbar__link">Flight</a>
              </li>
              <li class="navbar__item">
                <a href="/templates/index_adding_staff.html" class="navbar__link">Add Flight</a>
              </li>
              <li class="navbar__item">
                <a href="/templates/index_report_staff.html" class="navbar__link">Report</a>
              </li>
              <li class="navbar__item">
                <a href="/templates/index_regulations_staff.html" class="navbar__link navbar__link--active">Regulations</a>
              </li>
            </ul>
          </nav>
          <!-- cta action -->
          <div class="header__action">
            <a href="/templates/index_signin.html" class="header__action--login">Log in</a>
            <a href="/templates/index_signup.html" class="btn header__action--signup">Sign up</a>
          </div>
        </div>
    </header>

    <!-- main -->
    <main>

      <!-- how -->
      <section class="book">
        <div class="container">
          <h2 class="book__heading section-heading">Passenger & Ticket</h2>
          <div class="book__list">
            <!-- item 1 -->
            <section class="book-item">
              <a href="index_planes_staff.html">
                <svg xmlns="http://www.w3.org/2000/svg"  width="72" viewBox="0 0 640 512" fill="#00256C">
                  <path d="M381 114.9L186.1 41.8c-16.7-6.2-35.2-5.3-51.1 2.7L89.1 67.4C78 73 77.2 88.5 87.6 95.2l146.9 94.5L136 240 77.8 214.1c-8.7-3.9-18.8-3.7-27.3 .6L18.3 230.8c-9.3 4.7-11.8 16.8-5 24.7l73.1 85.3c6.1 7.1 15 11.2 24.3 11.2H248.4c5 0 9.9-1.2 14.3-3.4L535.6 212.2c46.5-23.3 82.5-63.3 100.8-112C645.9 75 627.2 48 600.2 48H542.8c-20.2 0-40.2 4.8-58.2 14L381 114.9zM0 480c0 17.7 14.3 32 32 32H608c17.7 0 32-14.3 32-32s-14.3-32-32-32H32c-17.7 0-32 14.3-32 32z"/></svg>
                <div class="book-item__body">
                  <h3 class="book-item__heading">Stations & Planes</h3>
                  <p class="book-item__desc">
                    Add, remove and updates the number of Stations and Planes.
                  </p>
                  <a href="#!" class="book-item__link">Learn More</a>
                </div>
              </a>
            </section>

            <!-- item 2 -->
            <section class="book-item book-item__active">
              <a href="index_price_staff.html">
                <div class="book-tiem__icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="72" viewBox="0 0 576 512" fill="#00256C">
                  <path d="M0 112.5V422.3c0 18 10.1 35 27 41.3c87 32.5 174 10.3 261-11.9c79.8-20.3 159.6-40.7 239.3-18.9c23 6.3 48.7-9.5 48.7-33.4V89.7c0-18-10.1-35-27-41.3C462 15.9 375 38.1 288 60.3C208.2 80.6 128.4 100.9 48.7 79.1C25.6 72.8 0 88.6 0 112.5zM128 416H64V352c35.3 0 64 28.7 64 64zM64 224V160h64c0 35.3-28.7 64-64 64zM448 352c0-35.3 28.7-64 64-64v64H448zm64-192c-35.3 0-64-28.7-64-64h64v64zM384 256c0 61.9-43 112-96 112s-96-50.1-96-112s43-112 96-112s96 50.1 96 112zM252 208c0 9.7 6.9 17.7 16 19.6V276h-4c-11 0-20 9-20 20s9 20 20 20h24 24c11 0 20-9 20-20s-9-20-20-20h-4V208c0-11-9-20-20-20H272c-11 0-20 9-20 20z"/></svg>
                </div>
                <div class="book-item__body">
                  <h3 class="book-item__heading">Passenger & Ticket</h3>
                  <p class="book-item__desc">
                    Add, remove and updates the number of ticket classes and passenger types, and change the price ratio.
                  </p>
                  <a href="#!" class="book-item__link">Learn More</a>
                </div>
              </a>
            </section>

            <!-- item 3 -->
            <section class="book-item">
              <a href="index_parameter_staff.html">
                <svg xmlns="http://www.w3.org/2000/svg" width="72" viewBox="0 0 512 512" fill="#00256C">
                <path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg>
                <div class="book-item__body">
                  <h3 class="book-item__heading">Parameters</h3>
                  <p class="book-item__desc">
                    Change the value of parameters: the number of  intermediate stations, max and min wait time, booking time.
                  </p>
                  <a class="book-item__link" href="#!">Learn More</a>
                </div>
              </a>
            </section>
          </div>
        </div>
      </section>

      <!-- bat dau sua, phan chua cac thanh-->

      <section class="ticketClass">
        <div class="container">

          <h1 class="ticketClass_heading">Ticket Class</h1>

          <div class="container_bar">

            <div class="search">
              
              <svg class="search_img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="50" height="50"  fill="#00256C" >
              <path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg>
              
              <input class="input" type="text" placeholder="Search plane ID ..." />
              
            </div>

            <button id="btnSearch" class="btn_bar">Search</button>
    
            <button id="btnAdd" class="btn_bar">Add</button>
            
            <dialog id="dialog_add">
              <div class ="wrapper">
                <form>
                  <div class= "field_add_station"> 
                    <label class="label_station">Plane ID:</label>
                    <input required class="input_station" type="text" placeholder="Enter Plane ID">
                    <label class="label_station">Plane Name:</label>
                    <input required id='duration_dialog' class="input_station" type="text" placeholder="Enter Plane Name" >
                    <label class="label_station">Manufacture ID:</label>
                    <input required id='note_dialog' class="input_station" type="text" placeholder="Enter Manufacture ID">
                    <button id="confirmAdd" class="btn_station"  >Add</button>
                    <button id="cancelAdd" class="btn_station">Cancel</button>
                </div>
              </form>
              </div>
            </dialog>
    
            <button id="btnUpdate" class="btn_bar">Update</button>
    
            <dialog id='dialog_update'>
              <div class ="wrapper">
                <form>
                  <div class= "field_add_station"> 
                    <label class="label_station">Plane ID:</label>
                    <input required class="input_station" type="text" placeholder="Enter Plane ID">
                    <label class="label_station">Plane Name:</label>
                    <input required id='duration_dialog' class="input_station" type="number" placeholder="Enter Plane Name" >
                    <label class="label_station"> Manufacture ID:</label>
                    <input required id='note_dialog' class="input_station" type="text" placeholder="Enter Manufacture ID">
                   <button id="confirmUpdate" class="btn_station">Update</button>
                  <button id="cancelUpdate" class="btn_station">Cancel</button>
                </div>
              </form>
              </div>
            </dialog>
    
            <button id="btnRemove" class="btn_bar">Remove</button>
    
            <dialog id='dialog_remove'>
              <div class ="wrapper">
                <form>
                  <div class= "field_add_station"> 
                    <label class="label_station">Plane ID:</label>
                    <input required class="input_staion" type="text" placeholder="Enter Plane ID">
                    <button id="confirmRemove" class="btn_station">Remove</button>
                    <button id="cancelRemove" class="btn_station">Cancel</button>
                </div>
              </form>
              </div>
            </dialog>
    
          </div>

          <!-- Tao bang-->
          <table id="table_planes" class="table">
            <div class="table_title">
              <tr>
                <th>Class ID</th>
                <th>Class Name</th>
                <th>Ticket Ratio</th>
              </tr>
            </div>

            <div class="table_row">
              <tr>
                <td>1</td>
                <td>Anh</td>
                <td>10</td>
              </tr>
            </div>

            <div class="table_row">
              <tr>
                <td>2</td>
                <td>M34</td>
                <td>10</td>
              </tr>
            </div>

          </table>

        </div>
      </section>

      <section class="passengerType">
        <div class="container">

          <h1 class="passengerType_heading">Passenger Type</h1>

          <div class="container_bar">

            <div class="search">
              <svg class="container_bar_img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="50" height="50"  fill="#00256C" >
              <path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg>
              <input class="input" type="text" placeholder="Search station ID ..." />
            </div>
    
            <button id="btnSearchStations" class="btn_bar">Search</button>
    
            <button id="btnAddStations" class="btn_bar">Add</button>
            
            <dialog id="dialog_add_stations">
              <div class ="wrapper">
                <form>
                  <div class= "field_add_station"> 
                    <label class="label_station">Station ID:</label>
                    <input required class="input_station" type="text" placeholder="Enter Station ID">
                    <label class="label_station">Station Name:</label>
                    <input required class="input_station" type="text" placeholder="Enter Station Name" >
                    <label class="label_station">Address:</label>
                    <input required class="input_station" type="text" placeholder="Enter Station Adress">
                    <button id="confirmAddStations" class="btn_station"  >Add</button>
                    <button id="cancelAddStations" class="btn_station">Cancel</button>
                </div>
              </form>
              </div>
            </dialog>
    
            <button id="btnUpdateStations" class="btn_bar">Update</button>
    
            <dialog id='dialog_update_stations'>
              <div class ="wrapper">
                <form>
                  <div class= "field_add_station"> 
                    <label class="label_station">Staion ID:</label>
                    <input required class="input_station" type="text" placeholder="Enter Station ID">
                    <label class="label_station">Station Name:</label>
                    <input required  class="input_station" type="number" placeholder="Enter Station Name" >
                    <label class="label_station">Address:</label>
                    <input required  class="input_station" type="text" placeholder="Enter Station Adress">
                  <button id="confirmUpdateStations" class="btn_station">Update</button>
                  <button id="cancelUpdateStations" class="btn_station">Cancel</button>
                </div>
              </form>
              </div>
            </dialog>
    
            <button id="btnRemoveStations" class="btn_bar">Remove</button>
    
            <dialog id='dialog_remove_stations'>
              <div class ="wrapper">
                <form>
                  <div class= "field_add_station"> 
                    <label class="label_station">Station ID:</label>
                    <input required class="input_staion" type="text" placeholder="Enter Station ID">
                    <button id="confirmRemoveStations" class="btn_station">Remove</button>
                    <button id="cancelRemoveStations" class="btn_station">Cancel</button>
    
                </div>
              </form>
              </div>
            </dialog>
    
          </div>
    
          <!-- Tao bang-->
          <table id="table_stations" class="table">

            <div class="table_title">
              <tr>
                <th>Passenger Type ID</th>
                <th>Passenger Type Name</th>
                <th>Passenger Ticket Ratio</th>
              </tr>
            </div>

            <div class="table_row">
              <tr>
                <td>1</td>
                <td>Anh</td>
                <td>VietNam</td>
              </tr>
            </div>

            <div class="table_row">
              <tr>
                <td>2</td>
                <td>M34</td>
                <td>Korea</td>
              </tr>
            </div>
          </table>
        </div>
      </section>
    </main>

    <!--Phan java script-->
    <script src="/asses/js/staff_plan.js"></script>
  </body>
</html>
    